# Environnement Python
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.pdb

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Heroku / deployment
*.log

# Git / secrets
.env

# file data
*.jsonl
data.txt
